<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/Library/Java/JavaVirtualMachines/jdk1.7.0_07.jdk/Contents/Home/bin/rmiregistry"/>
</launchConfiguration>
