
	
body{
	background-color:#FAEBFF;
	width: 95%;
	font-style:italic
	

    }

h1 {
	
	background-color:white;
	text-align:center; 
	color:#7A0A85;
	border: 1px solid #7A0A85;
	font-style:italic;
	font-size:100%;
	width: 55%;

    }


fieldset { 
		border: 2px solid #7A0A85;
		text-align:left; 
		background-color:white;
		font-style:bold;
		color:black;
		font-size:80%;
		width: 163%;

	 }

table 
{
width:50%;
}
th
{
height:50px;
}
